@model List<Competitions.Web.ViewModels.Competition.CompetitionViewModel>
@{
    var firstCompetition = Model.FirstOrDefault();
    var sport = firstCompetition?.Sport.Name ?? string.Empty;
    var isFinished = firstCompetition?.Ending >= DateTime.UtcNow;
    var type = isFinished ? "Приключили" : "Активни и Предстоящи";
    ViewData["Title"] = @type + " Състезания, турнири и лиги" + (sport == string.Empty ? string.Empty : $" - {sport}");
    ViewData["Keywords"] = $"Състезания, Турнири, Лиги, {type}, {sport}";
    ViewData["Description"] = $"{type} турнири, лиги и други спортни състезания";
}

<div>
  <h1 class="text-center">@type Състезания - @sport  </h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr class="table-success">
        <th scope="col">Име</th>
        <th scope="col">Локация</th>
        <th scope="col">Тип състезание</th>
        <th scope="col">Награден фонд</th>
        <th scope="col">Начало</th>
        <th scope="col">Край</th>
      </tr>
      </thead>
      <tbody>
        @foreach (var competition in Model)
        {
          <tr>
            <th scope="row">@competition.Sport.Name</th>
            <td>@competition.Title</td>
            <td>@competition.Location</td>
            <td>@competition.Type</td>
            <td>@competition.WinningPrize</td>
            <td>@competition.Starting</td>
            <td>@competition.Ending</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>


