@model List<Competitions.Web.ViewModels.Competition.CompetitionViewModel>
@{
    ViewData["Title"] = "Предстоящи състезания, турнири и лиги";
    ViewData["Keywords"] = "Състезания, Предстоящи състезания, Турнири, Предстоящи турнири, Лиги, Предстоящи Лиги, Спорт";
    ViewData["Description"] = "Предстоящи турнири, лиги и други спортни състезания";
}

<div>
  <h1 class="text-center">Предстоящи Спортни Събития</h1>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr class="table-success">
        <th scope="col">Спорт</th>
        <th scope="col">Име</th>
        <th scope="col">Локация</th>
        <th scope="col">Тип състезание</th>
        <th scope="col">Награден фонд</th>
        <th scope="col">Начало</th>
        <th scope="col">Край</th>
      </tr>
      </thead>
      <tbody>
        @foreach (var competition in Model)
        {
          <tr>
            <th scope="row">@competition.Sport.Name</th>
            <td><a class="page-link-with-hover" asp-action="ById" asp-route-id="@competition.Id" title="Преглед състезание">@competition.Title</a></td>
            <td>@competition.Location</td>
            <td>@competition.Type</td>
            <td>@competition.WinningPrize</td>
            <td>@competition.Starting</td>
            <td>@competition.Ending</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>


